.clasificacionF {
  display: flex;
  width: 250px;
  height: 50px;
  justify-content: space-between;
  align-items: baseline;
}

.clasificacionF p {
  text-align: center;
}

.clasificacionF h6{
  font-size: 20px;
}

.clasificacionF label {
  font-size: 20px;
}

.clasificacion input[type="radio"] {
  display: none;
}

.clasificacion label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}
.start-rating{
  display: inline-block;
}
.start-rating a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: color .3s;
}
.start-rating :hover a {
  color: #959595;
}

.start-rating :hover ~ a {
  color: #959595;
}