.containerNegro{ background: url(../img/fondo/luna.jpg) no-repeat  center; }

.container{
    max-width: 1420px;
}

.main-body { padding: 1em; height: 50em;}

.cardsP{  margin-top: 7em; }
/* .cardP {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
} */

hr{ border: 1px solid #444; }

.cardP{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
	background: linear-gradient(#1b1b1b, #111);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.cardP-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    height: 82%;
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.card, .list-group-item{ background: linear-gradient(#1b1b1b, #111); }

.list-group-item{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bibi-whatsapp{ color: limegreen; }

.timeline-sm-item, .mt-3, .form-check-label{ color: #fff; }

.mb-0{
    color: #ffd17b;
    /* color: #17a2b8!important; */
    display: flex;
    align-items: center;
}

.mb-0:hover{
    color: #ffd17b;
    text-shadow: 0 0 2px yellow;
}

.bi{ color: #17a2b8; }

.alturaTamaño{
    height: 2.7rem;
    font-size: 1.2rem;
    display: flex;
    align-items: start;
}

.btnM{ margin-left: 10px; }

.iconsM{ margin-right: 8px; }

.cardP-box {
    background: linear-gradient(#1b1b1b, #111);
    background-clip: border-box;
    border: 1px solid #222;
    margin-bottom: 24px;
    border-radius: .25rem;
}

.col-lg-14{ height: 100%; /* overflow:auto; */ }

.form-control:active{
    border: 0;
    box-shadow: 0;
}

.colorDatos{
    color: whitesmoke;
}

.timeline-sm {
    width: 60%;
    height: 82.5%;
    padding-right: 5px;
    padding-top: 0.5rem;
    /* overflow-y: scroll; */
    overflow:auto;
    margin:0;
}

.timeline-sm::-webkit-scrollbar{
    width: 12px;
    background-color: #333;
}
.timeline-sm::-webkit-scrollbar-thumb{
    background-color: #050505;
    border-radius: 5px;
}

.col-md-8{ height: 100%; }
  
.list-unstyled .timeline-sm-item {
    width: 100%;
    height: 41%;
    position: relative;
    display: flex;
}

.informacion{
    width: 70%;
    padding-top: 10px;
}

.lineaFecha{
    height: 100%;
    width: 21%;
}

.ctr_info{
    height: 100%;
    width: 78%;
    display: flex;
    padding-left: 8px;
    box-shadow: 6px 6px 10px -5px black, -8px -3px 10px -5px black;
}

.list-unstyled .timeline-sm-item .timeline-sm-date {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 100%;
    padding: 5px 3px 0 10px;
    border-right: 2px solid #dee2e6;
}

.list-unstyled .timeline-sm-item .timeline-sm-date:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 6.6rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ffd17b;
}

@media (max-width: 420px) {
    .list-unstyled .timeline-sm-date {
        position: relative !important;
        display: block;
        left: 0 !important;
        margin-bottom: 10px;
    }
}
.sliderP {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 51px;
    height: 29px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
          #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
.sliderP::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
}

.switch input[type="checkbox"]:checked + .sliderP {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
        rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked + .sliderP::after { left: 24px; }

.switch input[type="checkbox"] { display: none; }

.btnActivateM{
    display: flex;
    align-items: center;
}

.btnActivateM label { display: flex; }

.row-2{
    display: flex;
    align-items: center;
}
.form-check-input:checked {
    background-color: #ffd17b;
    border-color: #ffd17b;
}
.form-check-input{
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 51px;
    height: 29px;
    background-color: #ffffff2b;
    box-shadow: rgb(0 0 0 / 62%) 0px 0px 5px inset, rgb(0 0 0 / 21%) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset, rgb(224 224 224 / 45%) 0px 1px 0px 0px
}
.modalC{
    display: flex;
} 
.modal-content {
    color: white;
    background: linear-gradient(#1b1b1b, #111);
}
.modal-body {
    justify-content: center;
}
.subirImagen{
    overflow:hidden;
    width: 65%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
}

.imgPerfil{
    width: 100%;
    height: 20rem;
    border-radius: 15px;
}
.subirImagen:hover .imgPerfil{ 
    -webkit-transform:scale(1.05); 
    transform:scale(1.05);
    transition-duration: 50ms;
}

/*Citas*/
.filtro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(#111, #000);
    padding: 2rem;
    margin:0;
}

.seleccion{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 1.4rem;
}

.select{
    width: auto;
    background: linear-gradient(#1b1b1b, #222);
    border-bottom: 0;
    border-radius: 5px;
    border: 1px solid #111;
    cursor: pointer;
    color: #fff;
    line-height: 2;
    padding-left: 5px;
}

#estado{
    padding-right: 30px;
}

.ctr_select::after{
    content: '\25BC';
    position: absolute;
    top: 1px;
    right: 0;
    padding: 1.2em 1em;
    /* background: #050505; */
}

option{ background-color: #222; }

.acciones{
    width: 40%;
    height: 100%;
    background: linear-gradient(#090909, #060606);
    height: 82.4%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.citas{
    width: 100%;
    height: 100%;
    display: flex;
}

.info_adicional{
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.info_adicional h2{
    width: 100%;
    height: auto;
    text-align: center;
}

/*chat*/
.chat{
    width: 100%;
    height: 100%;
    display: none;
    border: 1px solid black;
    border-top: none;
    padding: 10px;
    border-radius: 5px;
}

.msj_campo{ 
    width: 100%;
    height: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    border-radius: 5px;
    overflow:auto;
}

.msj_campo h3{ 
    font-size: 1.2rem; 
    color: white; 
    margin: 0;
    padding: 5px 10px;
    height: auto;
    margin-top: 1rem;
    border-radius: 15px;
}

#otro{
    width: auto;
    background-color: #323232;
    text-align: left;
    margin-right: 1.8rem;
}

#yo{
    width: auto;
    background-color: #2596be;
    text-align: right;
    margin-left: 1.8rem;
}

.msj_enviar{
    width: 100%;
    height: auto;
    padding: 5px 0;
    /* background-color: #333; */
    display: flex;
    justify-content: space-evenly;
}

#form input{
    width: 120%;
    height: auto;
    background-color: #060606;
    border: none;
    box-shadow: 0 0 4px 0px #ddd;
    color: #fff;
}

/* .msj_enviar input:focus{ outline: #333;} */

.msj_enviar button{
    height: 100%;
    width: 15%;
    background-color: #090909;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 7px; 
    padding-right: 4px;
    border-radius: 50%;
}

.msj_enviar button svg{ transform: rotate(45deg); }

/*Editar*/
.campoEditar{
    display: none;
}