{% extends 'base.html' %}
{% load static %}
{% block stilos %}
<link rel="stylesheet" href="{% static 'css/barberos.css'%}">
<link rel="stylesheet" href="{% static 'css/horario.css'%}">
{% endblock stilos %}
{% block appContenido %}
<div class="row flex-lg-nowrap">
    <div class="col mb-3">
      <div class="e-panel card cardVerHorarios align-items-center">
        <div class="card-body">
          <div class="card-title">
            <h2 class="nom-categoria">Agendar</h2>
          </div>
          <div class="e-table">
            <div class="table-responsive table-lg mt-3">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="sortable">Nombre</th>
                    <th class="sortable">Fecha</th>
                    <th class="sortable">Comienzo</th>
                    <th class="sortable">Finalizar</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for horario in horario %}
                    {% if horario.estado == "activo" %}
                        <tr>
                            <td class="text-nowrap align-middle">{{horario.idTrabajador.nombres}}</td>
                            <td class="text-nowrap align-middle"><span>{{horario.fecha}}</span></td>
                            <td class="text-nowrap align-middle"><span>{{horario.horaInicio}}</span></td>
                            <td class="text-nowrap align-middle"><span>{{horario.horaFinalizacion}}</span></td>
                            <td class="text-center align-middle">
                              <div class="btn-group align-top" >
                                <form action="" method="post">{% csrf_token %}
                                  <input type='hidden' value={{ horario.id }} name='idHorario'>
                                  <button class="btn btn-sm btn-outline-secondary badge" data-toggle="modal" data-target="#user-form-modal">Agendar</button>
                                  {% comment %} <button class="btn btn-sm btn-outline-secondary badge"><i class="fa fa-trash"></i></button> {% endcomment %}
                                </form>
                              </div>
                            </td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}