{% extends 'base.html' %}
{% load static %}
{% block stilos %}

<link rel="stylesheet" href="{% static 'css/search.css'%}">
<link rel="stylesheet" href="{% static 'css/barberos.css'%}">
<link rel="stylesheet" href="{% static 'css/card.css'%}">
<link rel="stylesheet" href="{% static 'css/modal.css'%}">
{% endblock stilos %}
{% block llamdoJavaScript %}
<script src="{% static 'js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict()
    function barbero(url){
        $('#exampleModal').load(url, function(){
            $(this).modal('show');
        })
    }
</script>
{% endblock llamdoJavaScript %}

{% block appContenido %}
<main class="barberos">
    <div class="mainConsultBarber">
        <section class="busqueda">
            <form action="" method="get" class="form-busqueda">
                <input type="search" name="search" placeholder="What are you looking for?">
                <button class="2xl:mr-3" type="submit">Search</button>
                <div class="ctr_select">
                    <select name="opciones" id="seleciona">
                        <option value="Todos">Todos</option> 
                        {% for categoria in categoria %}
                            {% if select == categoria.id %}
                            <option value="{{categoria.nombre_cat}}" selected>{{categoria.nombre_cat}}</option>
                            {% else %}
                                <option value="{{categoria.nombre_cat}}">{{categoria.nombre_cat}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </section>
        <section id="containerBarberos">
            <h2 class="nom-categoria">Barberos</h2>
            <div class="cards-barberos">
                {% for barber in barber %}
                <article class="cards card1">
                    <div class="efectoBlur"><button href="#" class="btn-VerMas" onclick="barbero('{% url 'modal_barberos' barber.id %}')">Ver Más</button></div>
                    <figure class="figura">
                        {% if barber.foto %}
                        <img src="{{ barber.foto.url }}" alt="las vegas"
                            class="img_cards">
                        {% endif %} 

                        </figure>
                    <div class="infoBasica">
                        <h3 id="nombre">{{ barber.nombres }}</h3>
                        <h4 class="info"><b>Barrio:</b>{{ barber.nom_local }}</h4>
                        <form className="clasificacionF">
                            <p className="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5" />
                            <label for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4" />
                            <label for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3" />
                            <label for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2" />
                            <label for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1" />
                            <label for="radio5">★</label>
                            </p>
                            <h6 className="mb-0">4.5</h6>
                        </form>
                        {% comment %} <h4 class="info"><b>Estado:</b> Activo</h4> {% endcomment %}
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>

    <div  class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
</main>
{% endblock %}
