<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo/favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/lore.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilosBarber.css'%}">
    <link rel="stylesheet" href="{% static 'css/barberos.css'%}">
    <link rel="stylesheet" href="{% static 'css/search.css'%}">
    <link rel="stylesheet" href="{% static 'css/card.css'%}">
    <title>BARBER SERVER</title>
    <script defer src="/static/js/bundle.js"></script>
</head>

<body>
    <div id="consultBarber">
        <header class="header">
            <div class="imgSlider">
                <img class="imagenLogo" src="../static/img/logo/logo-LetrasBlancas.png" alt="Logo">
            </div><input type="checkbox" id="check"><label for="check" class="mostrar-menu">≡</label>
            <nav class="NavLink">
                <a aria-current="page" class="active" href="{% url 'inicio' %}"><a class="link" href="{% url 'inicio' %}">INICIO</a></a>
                <a> <a class="link" href="{% url 'sobreNosotros' %}">SOBRE NOSOTROS</a> </a>
                <a> <a class="link" href="{% url 'barberos' %}">BARBEROS</a> </a>
                <a> <a class="link" href="{% url 'contactenos' %}">CONTACTENOS</a> </a>
                <a> <a class="link">INGRESAR</a> </a>
                <label for="check" class="esconder-menu">×</label>
            </nav>
        </header>
        <main class="mainConsultBarber">
            <section class="busqueda">
                <form action="" method="" class="form-busqueda"><input type="search"
                        placeholder="What are you looking for?"><button>Search</button><select name="opciones" id="seleciona">
                        <option value="Todos">Todos</option>
                        <option value="Barberos">Barberos</option>
                        <option value="Peluqueros">Peluqueros</option>
                        <option value="Estilista">Estilista</option>
                    </select></form>
            </section>
            <section id="main">
                <h2 class="nom-categoria">Barberos</h2>
                <div class="cards-barberos">
                    <article class="cards card1">
                        <div class="blur"><button class="btn-VerMas">Ver Más</button></div>
                        <figure class="figura"><img src="/static/img/Gustavo.jpg" alt="imagen del barbero Gustavo" class="img_cards"></figure>
                        <div class="infoBasica">
                            <h3 id="nombre">Gustavo Quintana</h3>
                            <h4 class="info"><b>Barrio:</b> Limonar</h4>
                            <h4 class="info"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                            <h4 class="info"><b>Estado:</b> Activo</h4>
                        </div>
                    </article>
                    <article class="cards card1">
                        <div class="blur"><button class="btn-VerMas">Ver Más</button></div>
                        <figure class="figura"><img src="/static/img/Gustavo.jpg" alt="imagen del barbero Gustavo" class="img_cards"></figure>
                        <div class="infoBasica">
                            <h3 id="nombre">Gustavo Quintana</h3>
                            <h4 class="info"><b>Barrio:</b> Limonar</h4>
                            <h4 class="info"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                            <h4 class="info"><b>Estado:</b> Activo</h4>
                        </div>
                    </article>
                    <article class="cards card1">
                        <div class="blur"><button class="btn-VerMas">Ver Más</button></div>
                        <figure class="figura"><img src="/static/img/Gustavo.jpg" alt="imagen del barbero Gustavo" class="img_cards"></figure>
                        <div class="infoBasica">
                            <h3 id="nombre">Gustavo Quintana</h3>
                            <h4 class="info"><b>Barrio:</b> Limonar</h4>
                            <h4 class="info"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                            <h4 class="info"><b>Estado:</b> Activo</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h5><img class="logoF" src="/static/media/logo-LetrasBlancas.cd2f59f720f36d5581e2.png"
                                alt="logo"> BARBERSERVER CO.</h5>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled"><a class="" href="/">
                                        <li><a>Inicio</a></li>
                                    </a><a class="" href="/Contact">
                                        <li><a>Contacto</a></li>
                                    </a><a class="" href="/About">
                                        <li><a>Sobre Nosotros</a></li>
                                    </a><a class="" href="/Login">
                                        <li><a>Ingresar</a></li>
                                    </a></ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li><a
                                            href="https://drive.google.com/drive/folders/1Ml9agz-_Nyd70hbgrfMkMH123uOKNYrq?usp=sharing">Documentacion</a>
                                    </li>
                                    <li><a href="">Suporte</a></li>
                                    <li><a href="">Termino Legales</a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a href="" class="nav-link pl-0"><i
                                        class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                            </li>
                            <li class="nav-item"><a href="https://github.com/vector18xd/BarberServer.git"
                                    class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a>
                            </li>
                        </ul><br>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-md-right">¡Envianos un comentario!</h5>
                        <hr>
                    </div>
                    <div class="col-md-5">
                        <form>
                            <fieldset class="form-group"><input type="email" class="form-control"
                                    id="exampleInputEmail1" placeholder="Ingrese E-mail"></fieldset>
                            <fieldset class="form-group"><textarea class="form-control" id="exampleMessage"
                                    placeholder="Mensage"></textarea></fieldset>
                            <fieldset class="form-group text-xs-right"><button type="button"
                                    class="btn btn-secondary-outline btn-lg">Enviar</button></fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>