{% extends 'base.html' %}
{% load static %}
{% block stilos %}

<link rel="stylesheet" href="{% static 'css/search.css'%}">
<link rel="stylesheet" href="{% static 'css/barberos.css'%}">
<link rel="stylesheet" href="{% static 'css/card.css'%}">
<link rel="stylesheet" href="{% static 'css/modal.css'%}">
{% endblock stilos %}
{% block llamdoJavaScript %}
<script src="{% static 'js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict()
    function barbero(url){
        $('#exampleModal').load(url, function(){
            $(this).modal('show');
        })
    }
</script>
{% endblock llamdoJavaScript %}
{% block appContenido %}
<main class="barberos">
    <div class="mainConsultBarber">
        <section class="busqueda">
            <form action="" method="get" class="form-busqueda">
                <input type="search" name="search" placeholder="What are you looking for?">
                <button>Search</button>
                <div class="ctr_select">
                    <select name="opciones" id="seleciona">
                        <option value="Todos">Todos</option>
                        {% for categoria in categoria %}
                            <option value="{{categoria.nombre_cat}}">{{categoria.nombre_cat}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </section>
        <section id="containerBarberos">
            <h2 class="nom-categoria">Barberos</h2>
            <div class="cards-barberos">
                {% for barber in barber %}
                <article class="cards card1">
                    <div class="efectoBlur"><button href="#" class="btn-VerMas" onclick="barbero('{% url 'modal_barberos' barber.id %}')">Ver Más</button></div>
                    <figure class="figura">
                        {% if barber.foto %}
                        <img src="{{ barber.foto.url }}" alt="las vegas"
                            class="img_cards">
                        {% endif %} 

                        </figure>
                    <div class="infoBasica">
                        <h3 id="nombre">{{ barber.nombres }}</h3>
                        <h4 class="info"><b>Barrio:</b>{{ barber.nom_local }}</h4>
                        <h4 class="info"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                        <h4 class="info"><b>Estado:</b> Activo</h4>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>

        <div  class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</main>
{% endblock %}
