<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock %}  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo/favicon.ico' %}" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/lore.css'%}">
    {% block stilos %}
    {% endblock  %}
    <title>BARBER SERVER</title>
</head>
</head>

<body>
    <header class="header">
        <div class="imgSlider">
            <img class="imagenLogo" src="{% static 'img/logo/logo-LetrasBlancas.png' %}" alt="Logo">
        </div><input type="checkbox" id="check"><label for="check" class="mostrar-menu">≡</label>
        <nav class="NavLink">
            <div> <a class="link" href="{% url 'inicio' %}">INICIO</a> </div>
            <div> <a class="link" href="{% url 'sobreNosotros' %}">SOBRE NOSOTROS</a> </div>
            {% if user.is_authenticated %}
                <div> <a class="link" href="{% url 'barberos' %}" >BARBEROS</a> </div>
            {% endif %}
            <div> <a class="link" href="{% url 'contactos' %}">CONTÁCTENOS</a> </div>
            {% if user.is_authenticated %}
            {% comment %} <div> <a href="{% url 'logout' %}"> Cerrar Sesiòn </a> </div> {% endcomment %}
            <div>
                <li class="submenus">
                    <a href = "{% url 'perfil' %}">
                        <img class="linkPerfil" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"/>
                    </a>
                    <ul class="children">
                        {% if dataT or rol == "Barbero" or datosB%}
                            <li><a href="{% url 'horarios' %}"> HORARIOS </a></li>
                            <li><a href="{% url 'editarPerfilB' %}"> EDITAR PERFIL </a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}">SALIR</a>
                        </li>
                    </ul>
                </li> 
            </div>
            {% else %}
            <div> <a class="link" href="{% url 'login' %}">INGRESAR</a> </div>
            {% endif %}

            <label for="check" class="esconder-menu">×</label>
        </nav>
    </header>
    <div class="app" id="app">
        {% block appContenido %}{% endblock%}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="logoF" src="{% static 'img/logo/logo-LetrasBlancas.png' %}" alt="logo">
                    <h5>BARBERSERVER CO.</h5>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled"><a aria-current="page" class="active" href="/">
                                    <li><a>Inicio</a></li>
                                </a>
                                <a class="" href="/Contact">
                                    <li><a>Contacto</a></li>
                                </a>
                                <a class="" href="/About">
                                    <li><a>Sobre Nosotros</a></li>
                                </a>
                                <a class="" href="/Login">
                                    <li><a>Ingresar</a></li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><a
                                        href="https://drive.google.com/drive/folders/1Ml9agz-_Nyd70hbgrfMkMH123uOKNYrq?usp=sharing">Documentacion</a>
                                </li>
                                <li><a href="">Soporte</a></li>
                                <li><a href="">Términos Legales</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a>
                        </li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="nav-item"><a href="https://github.com/vector18xd/BarberServer.git"
                                class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                    </ul><br>
                </div>
                <div class="col-md-2">
                    <h5 class="text-md-right">¡Envíanos un comentario!</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <form>
                        <fieldset class="form-group"><input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Ingrese E-mail"></fieldset>
                        <fieldset class="form-group"><textarea class="form-control" id="exampleMessage"
                                placeholder="Mensage"></textarea></fieldset>
                        <fieldset class="form-group text-xs-right"><button type="button"
                                class="btn btn-secondary-outline btn-lg">Enviar</button></fieldset>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages %}

{% for m in messages %}

<script>
const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
})
  
  Toast.fire({
    icon: 'warning',
    title: '{{m}}'
  })
</script>

{% endfor %}

{% endif %}


{% block llamdoJavaScript %}

{% endblock llamdoJavaScript %}
</html>