{% extends 'base.html' %}
{% load static %}
{% block stilos %}
<link rel="stylesheet" href="{% static 'css/citas.css'%}">
{% endblock stilos %}
{% block appContenido %}

<main class="mainCitaTrabajador">
    <div class="ctrCitaTrabajador">
        <section class="citasIzq">
            <h2 class="tituloIzq">MIS CITAS</h2>
            <div class="cardsCitas">
              {% for datosCita in datosCita %}
              {% if datosCita.peticion == "activo" %}
                <article class="cardCita">
                    <div class="infoCita">
                        <h3 class="titulo">¡{{ datosCita.idCliente.nombres }} te ha pedido una cita!</h3>
                        <h4 class="txtCita"><b>Nombre completo:</b> {{ datosCita.idCliente.nombres }} {{ datosCita.idCliente.apellidos }}</h4>
                        <h4 class="txtCita"><b>Fecha:</b> {{ datosCita.idHorario.fecha }}</h4>
                        <h4 class="txtCita"><b>Hora:</b> {{ datosCita.idHorario.horaInicio }}</h4>
                        <h4 class="txtCita"><b><i class="fa fa-whatsapp" aria-hidden="true"></i>:</b>{{ datosCita.idCliente.telefono }}</h4>
                        <h4 class="txtCita"><b>Servicio:</b>{{ datosCita.peticion }}  //corte de cabello</h4>
                    </div>
                    <div class="btnsCita">
                        <form action="" method="post">{% csrf_token %}
                            <input type='hidden' value={{ datosCita.id }} name='idCita'>
                            <button id="btnRechazarCita" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-square"
                                id="equis" viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>Rechazar</button>
                        </form>
                    </div>
                </article>
                {% endif %} 
                {% endfor %}
            </div>
        </section>
        <section class="citasFiltro">
            <ul>
                <li>
                    <h3>Busqueda por fechas:</h3>
                    <div class="ctr_select">
                        <select class="select">
                            <option value="hoy">Hoy</option>
                            <option value="ayer">Ayer</option>
                            <option value="estaSemana">Esta Semana</option>
                            <option value="estaSemana">Este Mes</option>
                        </select>
                    </div>
                </li>
                <li>
                    <h3>Busqueda por estado:</h3>
                    <div class="ctr_select">
                        <select class="select">
                            <option value="hoy">Aceptadas</option>
                            <option value="ayer">Editadas</option>
                            <option value="estaSemana">Eliminadas</option>
                            <option value="estaSemana">En Espera</option>
                        </select>
                    </div>
                </li>
            </ul>
            {% comment %} <hr> {% endcomment %}
        </section>
    </div>
</main>
{% endblock %}
