{% extends 'base.html' %}
{% load static %}
{% block stilos %}
<link rel="stylesheet" href="{% static 'css/contactof.css' %}">
{% endblock stilos %}
{% block appContenido %}
<div class='sliderlore' style="background-image: url('{% static 'img/blg.jpg' %}')">
    <div class="containerContactform "  id="container">
        <div class="form-container sign-in-contacto-container">
            <form action="#" class='formlr'>
                <h1 class='h1form'>Contactenos</h1>
                <input type="text" placeholder="Nombre" id='firstname' class='inputform'/>
                <input type="email" placeholder="E-mail" id='Email' class='inputform'/>
                <input typem="text" id="phone" placeholder="Numero Celular" class='inputform'/>
                <textarea name="text" id="message" placeholder='Danos más detalles..' cols="30" rows="10" class='inputform'></textarea>
                <button class='buttonform' onClick={email}>Contactar</button>
            </form>
        </div>
    </div>
</div>
{% endblock appContenido %}