{% extends 'base.html' %}
{% load static %}
{% block stilos %}
{% comment %} <link rel="stylesheet" href="{% static 'css/lore.css'%}"> {% endcomment %}}
<link rel="stylesheet" href="{% static 'css/contactof.css' %}">
{% endblock stilos %}

{% block appContenido %}
<div class='sliderlore' style="background-image: url('{% static 'img/blg.jpg' %}')">
    <div class="containerContactform "  id="container">
        <div class="form-container sign-in-contacto-container">
            <form action="" class="formlr formularioEditar" method="post" enctype="multipart/form-data">{% csrf_token %}
                <h1 class='h1form'>Editar</h1>
                {{ form }}
                <button class='buttonform' >Contactar</button>
            </form>
        </div>
    </div>
</div>
{% endblock appContenido %}