{% extends 'base.html' %}
{% load static %}
{% block stilos %}
{% comment %} <link rel="stylesheet" href="{% static 'css/lore.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<link rel="stylesheet" href="{% static 'css/lore.css'%}">
<link rel="stylesheet" href="{% static 'css/contactof.css' %}">
<link rel="stylesheet" href="{% static 'css/editar.css' %}">
{% endblock stilos %}

{% block appContenido %}
<div class='sliderlore' style="background-image: url('{% static 'img/blg.jpg' %}')">
    <div class="containerContactform containerBarber"  id="container">
        <div class="form-container sign-in-contacto-container">
            <form action="" class="formlr" method="post" enctype="multipart/form-data">{% csrf_token %}
                <h1 class='h1form'>Editar</h1>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Nombres</h4>
                    {{ form.nombres }}
                </div>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Apellidos</h4>
                    {{ form.apellidos }}
                </div>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Telefono</h4>
                    {{ form.telefono }}
                </div>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Categoria</h4>
                    {{ form.idCategoria }}
                </div>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Nombre Local</h4>
                    {{ form.nom_local }}
                </div>
                <div class="divEditarPerfil">
                    <h4 class="col-sm-3 mb-0 alturaTamaño">Direccíon</h4>
                    {{ form.direccion }}
                </div>
                <div class="InputFoto">
                    <input class="form-control" type="file" name="foto" accept="image/*"  id="id_foto"> 
                </div>
                <button class='buttonform' >Editar</button>
            </form>
        </div>
    </div>
</div>
{% endblock appContenido %}
