{% extends 'base.html' %}
{% load static %}
{% block stilos %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<link rel="stylesheet" href="{% static 'css/lore.css'%}">
<link rel="stylesheet" href="{% static 'css/contactof.css' %}">
<link rel="stylesheet" href="{% static 'css/editar.css' %}">
{% endblock stilos %}
{% block llamdoJavaScript %}
    <script>
        const inputFoto = document.getElementById('foto')
        var myCropWidget = cloudinary.createUploadWidget({
            cloudName: 'barberserver', uploadPreset: 'BarberServer'}, 
            (error, result) => {
                if (!error && result.event === 'success'){
                    console.log('Imagen subida con éxito', result.info)
                    inputFoto.value = result.info.secure_url; 
                }
            })
        function openWindow () {
            myCropWidget.open();
        }
    </script>
{% endblock llamdoJavaScript %}
{% block appContenido %}
<main class="vtn_main">
    <div class="sliderlore">
        <section class="containerEdit">
                <form action="" class="formlr formularioEditar" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <h1 class='h1form'>Editar</h1>
                    <section class="camposEdit">
                        <article>
                            <div class="divEditarPerfil">
                                <h4 class="col-sm-3 mb-0 alturaTamaño">Nombres</h4>
                                {{ form.nombres }}
                            </div>
                            <div class="divEditarPerfil">
                                <h4 class="col-sm-3 mb-0 alturaTamaño">Apellidos</h4>
                                {{ form.apellidos }}
                            </div>
                        </article>
                        <article>
                            <div class="divEditarPerfil">
                                <h4 class="col-sm-3 mb-0 alturaTamaño">Telefono</h4>
                                {{ form.telefono }}
                            </div>
                            <div class="InputFoto inputFotoC">
                                <input class="form-control imgCliente" type="button" onclick="openWindow()"  value="Cambiar imagen de perfil">
                                <input class="form-control" type="hidden" name="foto" id="foto" onclick="openWindow()">
                            </div>
                        </article>
                    </section>
                    <button class='buttonform' type="submit">Editar</button>
                </form>
        </section>
    </div>
</main>
{% endblock appContenido %}