{% extends 'base.html' %}
{% load static %}
{% block stilos %}
<link rel="stylesheet" href="{% static 'css/contactof.css' %}">
<link rel="stylesheet" href="{% static 'css/lore.css'%}">
<link rel="stylesheet" href="{% static 'css/horario.css'%}">
<link rel="stylesheet" href="{% static 'css/inputFormH.css'%}">
{% endblock stilos %}
{% block appContenido %}
<main class="vtn_main">
    <div class='sliderlore'>
        <div class="containerHorario" id="container">
            <div class="form-container sign-in-contacto-container formlr">
                <form action="" class='formlr formHorario' method="post">{% csrf_token %}
                    <div class="titulo">
                        <h1 class='h1form'>Horarios</h1>
                        <p>Ten encuenta que cada turno es de 1 hora y 30 de duración</p>
                    </div>
                    <div class="inputsHora">
                        <div class="inputFecha"> 
                            <input type="date" placeholder="Fecha" id='fecha' name='fecha'/>
                            <p>Fecha</p>
                        </div>
                        <div class="inputFecha"> 
                            <input type="time" placeholder="Hora" id='horaInicio' name='horaInicio'/>
                            <p>Hora de inicio</p>
                        </div>
                        <input type='hidden' value="1   " name='inputInfo'>
                        <button class="icon-btn add-btn" type="submit">
                            <div class="add-icon"></div>
                            <div class="btn-txt">Añadir Horario</div>
                        </button>
                    </div>
                </form>
                    <div class="btnHora">
                        <a href="{% url 'verHorario' %}"><button class='buttonform'>Ver Horarios</button></a>
                    </div>
            </div>
        </div>
    </div>
    <div class='sliderlore'>
        <div class="containerHorario" id="container">
            <div class="form-container sign-in-contacto-container formlr">
                <form action="" class='formlr formHorario' method="post">{% csrf_token %}
                    <div class="titulo">
                        <h1 class='h1form'>Horarios</h1>
                        <p>Ten encuenta que cada turno es de 1 hora y 30 de duración</p>
                    </div>
                    <div class="inputsHora">
                        <div>
                            <input type="date" placeholder="Fecha" id='fecha' name='desdeFecha'/>
                            <p>Desde esta fecha</p> 
                            <input type="date" placeholder="Fecha" id='fecha' name='hastaFecha'/>
                            <p>Hasta esta fecha</p>
                        </div>
                        <div> 
                            <input type="time" placeholder="Hora" id='horaInicio' name='horaInicio'/>
                            <p>Hora de inicio</p>
                        </div>
                        <button class="icon-btn add-btn" type="submit">
                            <div class="add-icon"></div>
                            <div class="btn-txt">Añadir Horario</div>
                        </button>
                    </div>
                    <input type='hidden' value="0" name='inputInfo'>
                </form>
                    <div class="btnHora">
                        <a href="{% url 'verHorario' %}"><button class='buttonform'>Ver Horarios</button></a>
                    </div>
            </div>
        </div>
    </div> 
</main>

{% endblock  %}