{% extends 'base.html' %}
{% block stilos %}
{% comment %} <link rel="stylesheet" href="{% static 'css/lore.css'%}"> {% endcomment %}
{% endblock stilos %}
{% block appContenido %}
<div class='sliderlore'>
    <div class="containerform" id="container">
        <div class="form-container sign-up-container">
            <form action="#" class='formlr' method="POST">
                <h1 class='h1form'>Crear Cuenta</h1>
                <input type="email" placeholder="Gmail" id='remail' class='inputform'/>
                <input type="text" placeholder="Nombres" id='rname' class='inputform'/>
                <input type="text" placeholder="Apellidos" id='rapellido' class='inputform'/>
                <input type="text" placeholder="Telefono" id='ruser' class='inputform'/>
                <input type="password" placeholder="Contraseña" id='rpassword' class='inputform'/>
                <div class="radiusB">
                    <input type="radio" name='decision' value="trabajador" id='trabajador'  />
                    <label forHtml="trabajador" class="labelRadio">Trabajador</label>
                    <input type="radio" name='decision' value="cliente" id='cliente'  />
                    <label forHtml="cliente" class="labelRadio">Cliente</label>
                </div>
                <button class='buttonform' >Crear Cuenta</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" class='formlr'>
                <h1 class='h1form'>Iniciar Sesion</h1>
                <input type="text" placeholder="Email" id='usname' class='inputform'  name="Email"/>
                <input type="password" placeholder="Contraseña" id='uspassword' class='inputform'   name="Password"/>
                <a href="#" class='aform'>¿Olvidaste tu contraseña?</a>
                <button class='buttonform'>Iniciar Sesion</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class='h1form'>¡Bienvenido de nuevo!</h1>
                    <p class='pform'>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
                    <button class="ghost buttonform" >Iniciar Sesion</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class='h1form'>¡Hola amig@!</h1>
                    <p class='pform'>Ingresa tus datos personales y comienza tu viaje con nosotros</p>
                    <button class="ghost buttonform" >Crear Cuenta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nuevoForm formlr">
        <h1 class='h1form'>Datos Adicionales</h1>
        <input type="text" placeholder="Nombre del local" id='nomLocal' class='inputform'/>
        <input type="text" placeholder="Dirección del Local" id='direccionLocal' class='inputform'/>
    </div>
</div>
{% endblock appContenido %}