{% block llamdoJavaScript %}
<script>
  function calificacion(n){
    result =  document.getElementById('result')
    result.value = n
    mostrar = document.getElementById('mostrarC')
    mostrar.innerHTML = n
  }
</script>
{% endblock %}
<!-- Modal -->
{% for dataT in dataT %}
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        {% comment %} ESTRUCTURA DE MODAL <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> {% endcomment %}
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <section class="contenedor-modal">
            <figure class="campoimg-modal">
                {% if dataT.foto %}
                  <img src={{dataT.foto}} alt="El barbero {{dataT.nombres}}" class="img-vtn"/>
                {% endif %}
            </figure>
            <article class="infoBasica-modal">
              <h3 id="nombre-modal">{{dataT.nombres }}</h3>
              <section class="texto">
                <article class="datosIzq">
                  <h4 class="info-modal"><b>Especialización:</b> Barbero</h4>
                  <h4 class="info-modal"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                  <h4 class="info-modal"><b>Estado:</b> Activo</h4>
                  <h4 class="info-modal" id="direccion"><b>Dirección:</b>{{dataT.direccion}}</h4>
                  {% comment %} B/Limonar 3era etapa manzana 6 casa #3 {% endcomment %}
                  <h4 class="info-modal"><b>Descripcion:</b></h4>
                </article>
                <article class="valorizarBarbero">
                  <h4>Dale una puntuacion a {{dataT.nombres}}</h4>
                  <div>
                    {% if rol == 'Cliente' %}
                    <form action='' class="clasificacionF" method="post"> {% csrf_token %}
                      <div class="Estrellitas">
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5" onclick="calificacion(5)" {% if calificacion == 5%}checked{% endif %}></input>
                          <label for="radio1">★</label>
                          <input id="radio2" type="radio" name="estrellas" value="4" onclick="calificacion(4)" {% if calificacion == 4%}checked{% endif %} ></input>
                          <label for="radio2">★</label>
                          <input id="radio3" type="radio" name="estrellas" value="3" onclick="calificacion(3)" {% if calificacion == 3%}checked{% endif %}></input>
                          <label for="radio3">★</label>
                          <input id="radio4" type="radio" name="estrellas" value="2" onclick="calificacion(2)" {% if calificacion == 2%}checked{% endif %}></input>
                          <label for="radio4">★</label>
                          <input id="radio5" type="radio" name="estrellas" value="1" onclick="calificacion(1)" {% if calificacion == 1%}checked{% endif %}></input>
                          <label for="radio5">★</label>
                          </p>
                          <h6 class="mb-0" id="mostrarC">{{calificacion}}</h6>
                          <input type="hidden" name="result" id="result" value="{{calificacion}}">
                          <input type="hidden" name="idTrabajadores" id="idTrbajadores" value="{{dataT.id}}">
                      </div>
                      <div class="comentario">
                        <h4>Envia tus opiniones o sugerencias al barbero!</h4>
                        <textarea name="sugerencia" col="50" rows="6"> </textarea>
                      </div>
                      <button class="btn-calificar" type="submit">Calificar &#9745;</button>
                    </form>
                    {% else %}
                    {% if calificacion > 0 %}
                    <div class="star-rating">
                      {% for estrellitas in estrellitas %}
                        {% if calificacion >= estrellitas %}
                          <a style="color:yellow">★</a>
                        {% else %}
                          <a>★</a>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% else %}
                    <div class="star-rating">
                      <a>★</a>
                      <a>★</a>
                      <a>★</a>
                      <a>★</a>
                      <a>★</a>
                    </div>
                    {% endif %}
                    {% endif %}
                  </div>
                </article>
              </section>
              {% if rol == 'Cliente' %}
                <a href="{% url 'citas' dataT.id %}">
                  <button  class="btn-cita">
                    AGENDAR
                    <div class="icon">
                      <svg
                        height="24"
                        width="24"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                          d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </a>
              {% endif %}
              
            </article>
          </section>
        </div> 
      </div>      
  </div>
      {% comment %} <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <section class="fondo">
                <div class="contenedorModalPerfil xl:h-10 modal-header">
                    <section class="btn-cerrar" type="button" data-bs-dismiss="modal"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </section>
                      <section class="contenedor-modal">
                    <figure class="campoimg-modal">
                        {% if dataT.foto %}
                          <img src={{dataT.foto}} alt="El barbero Gustavo" class="img-vtn"/>
                        {% endif %}
                        
                    </figure>
                    <article class="infoBasica-modal">
                        <section class="texto">
                            <h3 id="nombre-modal">{{dataT.nombres }}</h3>
                            <h4 class="info-modal"><b>Especialización:</b> Barbero</h4>
                            <h4 class="info-modal"><b>Horarios:</b> 06:00 a 11:30 am y 02:00 a 8:00 pm</h4>
                            <h4 class="info-modal"><b>Estado:</b> Activo</h4>
                            {% if rol == 'Cliente' %}
                              <form action='' class="clasificacionF" method="post"> {% csrf_token %}
                                  <p class="clasificacion">
                                  <input id="radio1" type="radio" name="estrellas" value="5" onclick="calificacion(5)" {% if calificacion == 5%}checked{% endif %}></input>
                                  <label for="radio1">★</label>
                                  <input id="radio2" type="radio" name="estrellas" value="4" onclick="calificacion(4)" {% if calificacion == 4%}checked{% endif %} ></input>
                                  <label for="radio2">★</label>
                                  <input id="radio3" type="radio" name="estrellas" value="3" onclick="calificacion(3)" {% if calificacion == 3%}checked{% endif %}></input>
                                  <label for="radio3">★</label>
                                  <input id="radio4" type="radio" name="estrellas" value="2" onclick="calificacion(2)" {% if calificacion == 2%}checked{% endif %}></input>
                                  <label for="radio4">★</label>
                                  <input id="radio5" type="radio" name="estrellas" value="1" onclick="calificacion(1)" {% if calificacion == 1%}checked{% endif %}></input>
                                  <label for="radio5">★</label>
                                  </p>
                                  <h6 class="mb-0" id="mostrarC">{{calificacion}}</h6>
                                  <input type="hidden" name="result" id="result" value="{{calificacion}}">
                                  <input type="hidden" name="idTrabajadores" id="idTrbajadores" value="{{dataT.id}}">
                                  <button type="submit">calificar</button>
                              </form>
                          {% else %}
                            {% if calificacion > 0 %}
                              <div class="star-rating">
                                {% for estrellitas in estrellitas %}
                                  {% if calificacion >= estrellitas %}
                                    <a style="color:orange">★</a>pi
                                  {% else %}
                                    <a>★</a>
                                  {% endif %}

                                {% endfor %}
                              </div>
                            {% else %}
                              <div class="star-rating">
                                <a>★</a>
                                <a>★</a>
                                <a>★</a>
                                <a>★</a>
                                <a>★</a>
                              </div>
                            {% endif %}
                        {% endif %}
                        </section>
                        <section class="local">
                            <h4 class="info-modal" id="direccion"><b>Dirección:</b> B/Limonar 3era etapa manzana 6 casa #3</h4>
                            <figure class="mdl_campoImgLocal">
                            </figure>
                        </section>
                        {% if rol == 'Cliente' %}
                          <a href="{% url 'citas' dataT.id %}">
                          <button  class="btn-cita">
                              AGENDAR
                              <div class="icon">
                                <svg
                                  height="24"
                                  width="24"
                                  viewBox="0 0 24 24"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M0 0h24v24H0z" fill="none"></path>
                                  <path
                                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                            </button>
                          </a>
                        {% endif %}
                    </section> 
                  </div>
                </article>
            </section>
        </div> 
    </div> {% endcomment %}
    {% endfor %}