
<!-- Modal -->
{% for dataH in dataH %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="fondo">
              <div class="contenedorModalPerfil xl:h-10 modal-header">
                <article class="infoBasica-modal">
                  <section class="texto">
                    <form action="" class="formlr formularioEditar" method="post" >{% csrf_token %}
                      {{ form }}
                      <button type="submit">Ok</button>
                    </form>
                  </section>
                </article>
              </div>
            </section>
        </div> 
    </div>
    {% endfor %}