<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perfil Barbero</h1>
    {% for datosB in datosB %}
    <p>{{ datosB.nombres }}</p>
    {% endfor %}
    <a href="{% url 'inactivarCuenta' %}">Inactivar cuenta</a>
    <a href="{% url 'editarPerfilB' %}">Editar cuenta</a>
</body>
</html>