{% extends 'base.html' %} {% load static %} {% block stilos %}
<link rel="stylesheet" href="{% static 'css/horario.css'%}" />
<link rel="stylesheet" href="{% static 'css/modal.css'%}">
{% endblock stilos %} 
{% block llamdoJavaScript %}
<script type="text/javascript">
  var $ = jQuery.noConflict()
  function Horario(url){
      $('#exampleModal').load(url, function(){
          $(this).modal('show');
      })
  }
</script>
{% endblock llamdoJavaScript %}
{% block appContenido %}
{% comment %} <main class="vtn_main">
  <section class="horarios">
    <table class="tablaHorarios">
      <caption class="caption">Mi Horario</caption>
      <tbody>
        <tr>
          <th>Bloque</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
        <tr>
          <th class="tiempo">8:00am <br>-<fechabr> 12:00am</th>
          <td>
            {% for datosH in datosH %}
            <article class="campoHorario" id="ocupado">
              <h3>{{datosH.idTrabajador.nombres}}</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
            {% endfor %}
            <article class="campoHorario" id="pendiente">
              <h3>Pendiente</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
            <article class="campoHorario">
            <article class="campoHorario">
              <h3>Juan Pepe</h3>
              <h3>9:40am - 11:40am </h3>
              <a class="ver">Ver</a>
            </article>
              <h3>Juan Pepe</h3>
              <h3>9:40am - 11:40am </h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              
            </article>
          </td>
          <td>
            <h3>Juan Noreña</h3>
            <article class="campoHorario">
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
        </tr>
        <tr>
          <th class="tiempo">2:00pm - 6:00pm</th>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3> Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
            <article class="campoHorario">
              <h3>Juan Pepe</h3>
              <h3>9:40am - 11:40am </h3>
              <a class="ver">Ver</a>
            </article>
            <article class="campoHorario">
              <h3>Juan Pepe</h3>
              <h3>9:40am - 11:40am </h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
          <td>
            <article class="campoHorario">
              <h3>Juan Noreña</h3>
              <h3>8:10am - 9:40am</h3>
              <a class="ver">Ver</a>
            </article>
          </td>
        </tr>
    </table>
  </section>
</main> {% endcomment %}
<div class="row flex-lg-nowrap">
  <div class="col mb-3">
    <div class="e-panel card cardVerHorarios align-items-center">
      <div class="card-body">
        <div class="card-title">
          <h2 class="nom-categoria">
            Este es su horario {{datosH.idTrabajador.nombres}}
          </h2>
        </div>
        <div class="e-table">
          <div class="table-responsive table-lg mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="sortable">Name</th>
                  <th class="sortable">Date</th>
                  <th class="sortable">Comienzo</th>
                  <th class="sortable">Finalizar</th>
                  <th></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for datosH in datosH %}
                <tr>
                  <td class="text-nowrap align-middle" name="id">
                    {{datosH.id}}
                  </td>
                  <td class="text-nowrap align-middle">
                    {{datosH.idTrabajador.nombres}}
                  </td>
                  <td class="text-nowrap align-middle">
                    <span>{{datosH.fecha}}</span>
                  </td>
                  <td class="text-nowrap align-middle">
                    <span>{{datosH.horaInicio}}</span>
                  </td>
                  <td class="text-nowrap align-middle">
                    <span>{{datosH.horaFinalizacion}}</span>
                  </td>
                  {% if datosH.estado == "activo" %}
                  <td class="text-center align-middle">
                    <i
                      class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"
                    ></i>
                  </td>
                  {% else %}
                  <td class="text-center align-middle">
                    <i
                      class="fa fa-fw text-secondary cursor-pointer fa-toggle-off"
                    ></i>
                  </td>
                  {% endif %}
                  <td class="text-center align-middle">
                    <div class="btn-group align-top">
                      {% if datosH.estado == "activo" %}
                      <button
                        href="#"
                        class="btn btn-sm btn-outline-secondary badge"
                        data-toggle="modal"
                        data-target="#user-form-modal"
                        onclick="Horario('{% url 'modal_edith' datosH.id %}')"
                      >
                        Edit
                      </button>
                      <form action="" method="post">{% csrf_token %}
                        <input type='hidden' value={{datosH.id}} name='horarioId'> 
                        <button class="btn btn-sm btn-outline-secondary badge">
                          <i class="fa fa-trash"></i>
                        </button>
                      </form>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
{% endblock  %}
